/* DARK THEME
@bg: #2a2c2b;
@fg: #d9cb9e;
@a1: #dc3522;
@a2: #374140;
*/

/* LIGHT THEME */
@bg: #dddddd;
@fg: #000000;
@a1: #dc3522;
@a2: #aaaaaa;

@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

::selection {
    color: @bg;
    background: @a1;
}

::-moz-selection {
    color: @bg;
    background: @a1;
}

body {
    background-color: @bg;

    /* background: repeating-linear-gradient(
        -45deg,
        @bg,
        @bg 1px,
        @a2 1px,
        @a2 2px
    );*/
    font-family: 'Playfair Display', serif;
    color: @fg;
}

p {
    text-align: justify;
}

h1 a {
    padding: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: thick double @a2;
    margin: 1em 0;
    padding: 0;
    text-align: center;
    /*
    &:after {
        content: "§";
        color: @a2;
        display: inline-block;
        position: relative;
        top: -.9em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: @bg;
    }
    */
}

.vertical-line {
    border-left: thick double @a2;
    height: 150px;
}

a {
    color: @a1;

    &:link {
        text-decoration: none;
    }

    &:hover, &.active {
        color:@bg;
        background-color: @a1;
    }
        
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & li {
        padding: 10px;
        pointer-events: none;

        &:hover {
            padding: 5px;
        }
    }

    & a {
        padding: 5px;
        pointer-events: auto;
        
        &:hover {
            margin: 5px;
            font-size: 1.5em;
        }
    }
}

