body {
  background-color: #2a2c2b;
  /* background: repeating-linear-gradient(
        -45deg,
        @bg,
        @bg 1px,
        @a2 1px,
        @a2 2px
    );*/
  font-family: monospace;
  color: #d9cb9e;
}
p {
  text-align: justify;
}
h1 a {
  padding: 5px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: thick solid #374140;
  margin: 1em 0;
  padding: 0;
}
.vertical-line {
  border-left: thick solid #374140;
  height: 150px;
}
a {
  color: #dc3522;
}
a:link {
  text-decoration: none;
}
a:hover,
a.active {
  color: #2a2c2b;
  background-color: #dc3522;
}
ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.menu li {
  padding: 5px;
}
ul.menu a {
  padding: 5px;
}
ul.menu a:hover {
  font-size: 1.5em;
}
